[server.bind]
host = "0.0.0.0"
port = 5001

# Uncomment if behind a proxy

# [server.public]
# scheme = "http"
# host = "192.168.0.1"
# port = 5001

[database]
file_path = "persistence/database.db"

[auth]
secret_key = "secret_key"
token_duration = 900
refresh_token_duration = 3600

[prosa]
scheme = "http"
host = "127.0.0.1"
port = 5000

[download_token]
book_expiration = 60
